*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-family: 华文行楷;
}
#maximum{
    width: 100%;
    height: 4100px;
}
#top{
    /*background: url(../imanges/top.jpg) center no-repeat; */
    background: #f07c82;
    width: 100%;
    height: 450px;
}
#top_a{
    color: white;
    font-size: 200px;
    padding-top: 5%;
    padding-left: 30%;
}
#top_b{
    color: white;
    font-size: 50px;
    padding-left: 50%;
}
#center{
    /*background: url(../imanges/center.jpg) center no-repeat;*/
    /*background-attachment: fixed;*/
    background: #68868b;
    width: 90%;
    height: 3500px;
    margin-left: 5%;
}
#bottom{
    background: #74759b;
    width: 100%;
    height: 150px;
}
#bottom_a{
    color: white;
    padding-top: 5px;
    text-align: center;
}
#bottom_b{
    color: white;
    padding-top: 10px;
    text-align: center;
}
#bottom_c{
    text-align: center;
}
#bottom_d{
    width: 70px;
    height: 70px;
    padding-top: 15px;
    img-align: center;
}
